@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&family=Roboto+Slab:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

.white-text{
  color: #fff;
}

.black-text {
  color: #000 !important; /* Cor branca desejada */
}

/* Tema Claro */
.light-theme {
  background-color: #f6f6d6;
  color: black;
  transition: .5s ease-in-out;
  
}

/* Tema Escuro */
.dark-theme {
  background-color: #1e1f27;
  color: #ffffff;
  transition: .5s ease-in-out;
}


a{
  text-decoration: none;
  color: #fff;
}

ul, li{
  list-style-type: none;
}

